<?xml version="1.0" encoding="utf-8"?>
<!-- /*
 * Orbital Live Wallpaper
 *
 * Copyright (C) 2012 PuZZleDucK (PuZZleDucK@gmail.com)
 * 
 *	This program is free software; you can redistribute it and/or
 *	modify it under the terms of the GNU General Public License version
 *	2 as published by the Free Software Foundation.
 *
 * This live wallpaper was originally based on the target live wallpaper by PuZZleDucK
 *
 */ -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orbitlivewallpaper.puzzleduck.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
	  
	<uses-feature android:name="android.software.live_wallpaper" />
	 
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="false">
        <activity
            android:name="orbitlivewallpaper.puzzleduck.com.OrbitalLiveWallpaperActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<service
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:name="orbitlivewallpaper.puzzleduck.com.OrbitalLiveWallpaper">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/lwp" />
        </service>
	
		
    </application>

</manifest>
